# Programming for Data Science 2024
## Homework Assigment Two
Homework activities aim at testing not only your ability to put into practice the concepts you have learned during the Lectures and Labs, but also your ability to explore the Python documentation as a resource. Above all, it is an opportunity for you to challenge yourself and practice. If you are having difficulties with the assignment reach out for support using moodle's Discussion Forum.

### Description

This homework assignment will test your capacity to **load and manipulate data with Pandas**.
    
The goal is to develop intuition on filtering, arranging, and merging data, which will be useful for the next homework assignment.<br/>
Fill the empty cells with your code and deliver a copy of this notebook to Moodle. <br/>
    
Your submission will be graded according to the following guidelines:
1. **Execution** (does your program does what is asked from the exercise?
2. **Objectivity** (are you using the adequate libraries? are you using a library ... )
3. **Readability** of your code (including comments, variables naming, supporting text, etc ...)

**Comment your code properly**, which includes naming your variables in a meaningful manner. **Badly documented code will be penalized.**

This assignment is to be done in pairs, and remember that you can't have the same pair from the previous and subsequent assignments.

**Students that are caught cheating will obtain a score of 0 points.** <br>

Homework 2 is worth 25% of your final grade.    

The submission package should correspond to a .zip archive (.rar files are not accepted) with the following files:
1. Jupyter Notebook with the output of all the cells;
2. HTML print of your Jupyter Notebook (in Jupyter go to File -> Download as -> HTML);
3. All text or .csv files that are exported as part of the exercises. **Please don't upload the files downloaded/imported as part of the exercises.**

**Please change the name of the notebook to "H2.\<student_1_id\>_\<student_2_id\>.ipynb", replacing \<student_id\> by your student_id.** <br>

Submission is done through the respective Moodle activity, and only one of the group members should submit the files. <br>
The deadline is the **19th of October at 12:00**. <br>
A penalty of 1 point per day late will be applied to late deliveries. <br>
**In this notebook, you are allowed to use Pandas and Numpy.**

In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd

# <span style="color:brown"> Start Here </span>

[Please Complete the following form with your details]

Student Name - João Cardoso<br>
Student id - 20240529 <br>
Contact e-mail - 20240529@novaims.unl.pt <br>


Student Name - Alexandre Gentil Soares Gonçalves<br>
Student id - 20240738 <br>
Contact e-mail - 20240738@novaims.unl.pt <br>

# <span style="color:brown"> Part 1 - Get the Data </span>

## Download and Load the World Development Indicators Dataset

We will work with the **World Development Indicators dataset**, which should be downloaded from the world bank data catalog.<br/>
Hence, the first step is to unzip the data given on Moodle, you can do this by running the cell below. <br/>

In [2]:
import os
import zipfile

def load_and_extract_zip(filename):
    """
    Loads and extracts a ZIP file depending on the environment: Google Colab or local machine.

    Arguments:
    filename -- The name of the ZIP file to extract.
    """
    try:
        # Check if running in Google Colab
        import google.colab
        print("Detected environment: Google Colab")

        # Mount Google Drive and set the working directory
        from google.colab import drive
        drive.mount('/content/drive')

        # Set the working directory
        wd = "/content/drive/MyDrive/Nova_IMS/Programming for Data Science/assignment_ii/"
        os.chdir(wd)  # Change to the working directory
        full_path = os.path.join(wd, filename)  # Full path to the file

    except ImportError:
        # If google.colab isn't available, we're running locally
        print("Detected environment: Local")

        # Set the local directory (modify this path based on your local setup)
        wd = os.getcwd()  # Current working directory
        full_path = os.path.join(wd, filename)  # Full path to the file

    # Extract the ZIP file
    try:
        with zipfile.ZipFile(full_path, 'r') as z:
            z.extractall()  # Extract all contents of the ZIP file
            print(f"File extracted successfully from: {full_path}")
    except FileNotFoundError:
        print(f"File not found at: {full_path}")
    except zipfile.BadZipFile:
        print(f"Error: The file {full_path} is not a valid ZIP archive.")

In [3]:
load_and_extract_zip("WDI_csv.zip")

Detected environment: Local
File extracted successfully from: c:\Users\alexg\Ambiente de Trabalho\Mestrado Data Science NOVA IMS\1st semester\Programming for DS\Assignments\2nd_assignment\WDI_csv.zip

*The above code downloads a zip archive to the working folder, which by default is the the location of this notebook in your computer. <br/>
Secondly, and since the document downloaded is a zip archive, it extracts the documents from the archive. <br/>
The contents include multiple .csv files, however we will be working only with the document 'WDICSV.csv'. <br/>*

**1.** In the cell bellow, use Pandas to open the file "WDICSV.csv" and **save** it to a variable called **wdi**.<br/>

In [4]:
# Define the path for the WDI CSV file
path = "WDICSV.csv"

# load csv
wdi = pd.read_csv(path)

**2.** Check the top of the dataframe to ensure it was loaded correctly.

In [5]:
# Print the first 5 rows of the DataFrame
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.401410,17.911234,18.463874,18.924037,19.437054,20.026254,20.647969,21.165877,21.863139,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.728819,7.005877,7.308571,7.547226,7.875917,8.243018,8.545483,8.906711,9.261320,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.080931,38.422282,38.722108,38.993157,39.337872,39.695279,40.137847,40.522209,41.011132,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.860474,33.903800,38.854624,40.199898,43.017148,44.381259,46.264875,48.100862,48.711995,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.619475,16.500171,24.605861,25.396929,27.037528,29.137914,31.001049,32.777910,33.747907,NaN

## Download and Load the Penn World Table V9.0

We will additionally use data from the pwt v9.0 tables. <br/>

**Run the following cell to download the dataset**.

In [6]:
# import module urlib
import urllib
# download the file from the internet
urllib.request.urlretrieve("https://www.rug.nl/ggdc/docs/pwt90.xlsx", "pwt90.xlsx")

('pwt90.xlsx', <http.client.HTTPMessage at 0x212c5a5b370>)

**3.** In the following cell, open and read the file 'pwt90.xlsx' and **save** it into variable **pwt**. <br/>

In [7]:
# open and read the file 'pwt90.xlsx' Data tab
pwt = pd.read_excel("pwt90.xlsx", sheet_name="Data")

**4.** Check the top of the dataframe to ensure it was loaded correctly.

In [8]:
pwt.head()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_g,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# <span style="color:brown"> Part 2 - Data Processing </span>

## Data Wrangling

Now that we have loaded our data we are ready to start playing with it. <br/>

**5.** Start by printing all the column values in the cell below.

In [9]:
print("Columns in WDI Dataset:")
print(wdi.columns)

print("\nColumns in PWT Dataset:")
print(pwt.columns)

Columns in WDI Dataset:
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

Columns in PWT Dataset:
Index(['countrycode', 'country', 'currency_unit', 'year', 'rgdpe', 'rgdpo',
       'pop', 'emp', 'avh', 'hc', 'ccon', 'cda', 'cgdpe', 'cgdpo', 'ck',
       'ctfp', 'cwtfp', 'rgdpna', 'rconna', 'rdana', 'rkna', 'rtfpna',
       'rwtfpna', 'labsh', 'delta', 'xr', 'pl_con', 'pl_da', 'pl_gdpo',
       'i_cig', 'i_xm', 'i_xr', 'i_outlier', 'cor_exp', 'statcap', 'csh_c',
       'csh_i', 'csh_g', 'csh_x', 'csh_m', 'csh_r', 'pl_c', 'pl_i', 'pl_g',
       'pl_x', 'pl_m', 'pl_k'],
      dtype='object')

**6.** List the values in the column 'Country Name'.You will get a list with repeated values, **delete all duplicates** to ease your analysis. <br/>

*Tip: There is a method in the pandas library that allows to do this easily.*

In [10]:
# drop duplicates method is called on the column "Country names" erasing duplicates
# A series is returned with unique values
unique_countries = wdi['Country Name'].drop_duplicates()
unique_countries

0            Africa Eastern and Southern
1488          Africa Western and Central
2976                          Arab World
4464              Caribbean small states
5952      Central Europe and the Baltics
                       ...
388368             Virgin Islands (U.S.)
389856                West Bank and Gaza
391344                       Yemen, Rep.
392832                            Zambia
394320                          Zimbabwe
Name: Country Name, Length: 266, dtype: object

You might notice that while the bottom rows represent Countries, the top rows represent aggregates of countries (e.g., world regions). <br/> We are only interested in **working with country-level data**, and as such we need to filter out all the unnecessary rows.

**7.** Save all the values of column 'Country Name' in a variable called **cnames**. <br/>

In [11]:
# drop duplicates method is called on the wdi column "Country names" erasing duplicates
cnames = wdi['Country Name'] # returns a Series with duplicated values
cnames.head()

0    Africa Eastern and Southern
1    Africa Eastern and Southern
2    Africa Eastern and Southern
3    Africa Eastern and Southern
4    Africa Eastern and Southern
Name: Country Name, dtype: object

In [12]:
# length of cnames Series
len(cnames)

395808

**7.1.** Delete all duplicate values.<br>

In [13]:
# Drop duplicates in the series cnames
cnames = pd.Series(cnames).drop_duplicates()

In [14]:
# length of cnames without duplicates
len(cnames)

266

In [15]:
cnames

0            Africa Eastern and Southern
1488          Africa Western and Central
2976                          Arab World
4464              Caribbean small states
5952      Central Europe and the Baltics
                       ...
388368             Virgin Islands (U.S.)
389856                West Bank and Gaza
391344                       Yemen, Rep.
392832                            Zambia
394320                          Zimbabwe
Name: Country Name, Length: 266, dtype: object

**7.2.** Print the names that do not represent countries.

In [16]:
# Find the index of the first row where country code = 'AFG' in the wdi dataframe , which is done by calling .min() on the index
first_row_country_wdi = wdi[wdi['Country Code'] == 'AFG'].index.min()

# List all distinct names for countries in wdi dataframe where index < first_row_country_wdi (i.e., they are aggregates)
# Converting to Series to make it easier for reading
aggregates = pd.Series(wdi.loc[wdi.index < first_row_country_wdi, 'Country Name'].unique())

# Print the aggregates
print("Aggregates (non-country names) in WDI dataframe:")
print(aggregates)

Aggregates (non-country names) in WDI dataframe:
0                           Africa Eastern and Southern
1                            Africa Western and Central
2                                            Arab World
3                                Caribbean small states
4                        Central Europe and the Baltics
5                            Early-demographic dividend
6                                   East Asia & Pacific
7           East Asia & Pacific (excluding high income)
8            East Asia & Pacific (IDA & IBRD countries)
9                                             Euro area
10                                Europe & Central Asia
11        Europe & Central Asia (excluding high income)
12         Europe & Central Asia (IDA & IBRD countries)
13                                       European Union
14             Fragile and conflict affected situations
15               Heavily indebted poor countries (HIPC)
16                                          High income
17                                            IBRD only
18                                     IDA & IBRD total
19                                            IDA blend
20                                             IDA only
21                                            IDA total
22                            Late-demographic dividend
23                            Latin America & Caribbean
24    Latin America & Caribbean (excluding high income)
25    Latin America & the Caribbean (IDA & IBRD coun...
26         Least developed countries: UN classification
27                                  Low & middle income
28                                           Low income
29                                  Lower middle income
30                           Middle East & North Africa
31    Middle East & North Africa (excluding high inc...
32    Middle East & North Africa (IDA & IBRD countries)
33                                        Middle income
34                                        North America
35                                       Not classified
36                                         OECD members
37                                   Other small states
38                          Pacific island small states
39                            Post-demographic dividend
40                             Pre-demographic dividend
41                                         Small states
42                                           South Asia
43                              South Asia (IDA & IBRD)
44                                   Sub-Saharan Africa
45           Sub-Saharan Africa (excluding high income)
46            Sub-Saharan Africa (IDA & IBRD countries)
47                                  Upper middle income
48                                                World
dtype: object

You can take advantage of the structure of the dataset to realize that aggregates (Continents, Regions, etc) are all located on the top of the series 'cnames'. Moreover, since the series is small you can easily validate this assumption manually and then use that information to extract a slice of all the entries that represent non-countries entities.<br/>

**8.** In the next cell filter out, from **wdi**, the rows in which 'Country Name' represents an aggregate of countries.<br/>

In [17]:
# Filter out rows in 'wdi' where 'Country Name' represents an aggregate (the ~ negates the condition meaning it removes aggregates and keeps only country names)

wdi = wdi[~wdi['Country Name'].isin(aggregates)]

# Print the first few rows to confirm
display(wdi)

# Other alternatives could be
# using loc
# wdi = wdi.loc[first_row_country_wdi: , : ]
# using boolean indexing
# wdi = wdi[~(wdi.index < first_row_country_wdi)]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
72912,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.100000,27.600000,28.800000,30.300000,31.400000,32.60000,33.800000,34.90000,36.100000,NaN
72913,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.200000,11.400000,12.600000,13.500000,14.500000,15.60000,16.400000,17.40000,18.500000,NaN
72914,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.000000,79.500000,80.500000,81.600000,82.600000,83.20000,83.800000,84.50000,85.000000,NaN
72915,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,89.500000,71.500000,97.700000,97.700000,93.400000,97.70000,97.700000,97.70000,85.300000,NaN
72916,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.500000,64.600000,97.100000,97.100000,91.600000,97.10000,97.100000,97.10000,81.700000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395803,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395804,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.700000,NaN,NaN,NaN,5.40000,NaN,NaN,NaN,NaN
395805,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,32.400000,NaN,NaN,NaN,33.70000,NaN,NaN,NaN,NaN
395806,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.606951,59.740456,59.888983,60.053623,60.216147,60.37761,60.551609,60.69318,60.825294,NaN
395807,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,18000.000000,16000.000000,14000.000000,11000.000000,8400.000000,6900.00000,5900.000000,5200.00000,4900.000000,NaN

**9.** Check that the top of the **wdi** dataframe now only has countries and not aggregates of countries.

In [18]:
wdi.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
72912,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.1,27.6,28.8,30.3,31.4,32.6,33.8,34.9,36.1,NaN
72913,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.2,11.4,12.6,13.5,14.5,15.6,16.4,17.4,18.5,NaN

**10.** Reset the indexes of **wdi**. Perform this operation in-place.

In [19]:
# reset index and keep old index as column
wdi.reset_index(inplace=True)

**11.** Show that the indexes have been reseted.

In [20]:
wdi.head(2)

,index,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,72912,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,...,26.1,27.6,28.8,30.3,31.4,32.6,33.8,34.9,36.1,NaN
1,72913,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,...,10.2,11.4,12.6,13.5,14.5,15.6,16.4,17.4,18.5,NaN

*Note that when reseting the index, pandas appends a new column at the begining of the data frame, which holds the previous index values.*

## Indicator Codes and Indicator Names

**12.** Select the columns 'Indicator Name' and 'Indicator Code'.Then, delete all the duplicates, and print the top 5 and bottom 5 values. <br/>

*Note: You should be able to do everything in a single line of code for the top 5 values and a single line for the bottom 5 values.*

In [21]:
# Drop duplicate rows based on 'Indicator Name' and 'Indicator Code' columns

wdi[['Indicator Name', 'Indicator Code']].drop_duplicates()

                                         Indicator Name     Indicator Code
0     Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1     Access to clean fuels and technologies for coo...  EG.CFT.ACCS.RU.ZS
2     Access to clean fuels and technologies for coo...  EG.CFT.ACCS.UR.ZS
3               Access to electricity (% of population)     EG.ELC.ACCS.ZS
4     Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS
...                                                 ...                ...
1483  Women who believe a husband is justified in be...     SG.VAW.REFU.ZS
1484  Women who were first married by age 15 (% of w...  SP.M15.2024.FE.ZS
1485  Women who were first married by age 18 (% of w...  SP.M18.2024.FE.ZS
1486  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS
1487  Young people (ages 15-24) newly infected with HIV     SH.HIV.INCD.YG

[1488 rows x 2 columns]

**13.** Create a new DataFrame named **indicators** made up of the columns 'Indicator Name' and 'Indicator Code'. Then, delete all the duplicated entries. Finally, set the column 'Indicator Code' as the index of **indicators**.

*Note: Try to perform all these steps in a single line of code.*

In [22]:
# Remove duplicates from 'Indicator Name' and 'Indicator Code', then set 'Indicator Code' as the index

indicators = wdi[['Indicator Name', 'Indicator Code']].drop_duplicates().set_index('Indicator Code')
indicators

                                                      Indicator Name
Indicator Code
EG.CFT.ACCS.ZS     Access to clean fuels and technologies for coo...
EG.CFT.ACCS.RU.ZS  Access to clean fuels and technologies for coo...
EG.CFT.ACCS.UR.ZS  Access to clean fuels and technologies for coo...
EG.ELC.ACCS.ZS               Access to electricity (% of population)
EG.ELC.ACCS.RU.ZS  Access to electricity, rural (% of rural popul...
...                                                              ...
SG.VAW.REFU.ZS     Women who believe a husband is justified in be...
SP.M15.2024.FE.ZS  Women who were first married by age 15 (% of w...
SP.M18.2024.FE.ZS  Women who were first married by age 18 (% of w...
SH.DYN.AIDS.FE.ZS  Women's share of population ages 15+ living wi...
SH.HIV.INCD.YG     Young people (ages 15-24) newly infected with HIV

[1488 rows x 1 columns]

**The 'indicators' DataFrame can operate now as a dictionary. <br/>**
By passing an 'Indicator Code' (key) it returns the associated 'Indicator Name' (value).<br/>

**14.** Using the **indicators** DataFrame, find the 'Indicator Code' associated with the following observables:
1. 'Population', find the 'Indicator Code' of the total population in a country;
2. 'GDP', find the GDP measured in current US Dollars;
3. 'GINI index'

*Hint: You can use the method STRING.str.contains('substring') to check whether a string contains a substring.*

In [23]:
# Filter rows where 'Indicator Name' is 'Population, total'
# We can see that the indicator code for 'Population, total' is 'SP.POP.TOTL'
indicators[indicators['Indicator Name'] == 'Population, total']

                   Indicator Name
Indicator Code
SP.POP.TOTL     Population, total

In [24]:
# Filter rows where 'Indicator Name' is 'GDP (current US$)'
# We can see that indicator code for GDP (current US$) is NY.GDP.MKTP.CD
indicators[indicators['Indicator Name'] == 'GDP (current US$)']

                   Indicator Name
Indicator Code
NY.GDP.MKTP.CD  GDP (current US$)

In [25]:
# Filter rows where 'Indicator Name' is 'gini index'
# We can see that the indicator name is 'Gini index' and the indicator code is 'SI.POV.GINI'

indicators[indicators['Indicator Name']== 'Gini index']

               Indicator Name
Indicator Code
SI.POV.GINI        Gini index

## Extracting and Cleaning Data from WDI and PWT

**15.** From **wdi** extract the columns 'Indicator Code', 'Country Code', and '2012'.
Save the output in variable **wdi_sample**.

*Note: You should be able to perfom all operations in a single line of code. <br/>*

In [26]:
# Select the 'Indicator Code', 'Country Code', and '2012' columns from the 'wdi' DataFrame
wdi_sample = wdi[['Indicator Code', 'Country Code', '2012']]

In [27]:
wdi_sample

           Indicator Code Country Code          2012
0          EG.CFT.ACCS.ZS          AFG     22.900000
1       EG.CFT.ACCS.RU.ZS          AFG      8.000000
2       EG.CFT.ACCS.UR.ZS          AFG     74.300000
3          EG.ELC.ACCS.ZS          AFG     69.100000
4       EG.ELC.ACCS.RU.ZS          AFG     60.800000
...                   ...          ...           ...
322891     SG.VAW.REFU.ZS          ZWE           NaN
322892  SP.M15.2024.FE.ZS          ZWE           NaN
322893  SP.M18.2024.FE.ZS          ZWE           NaN
322894  SH.DYN.AIDS.FE.ZS          ZWE     59.241862
322895     SH.HIV.INCD.YG          ZWE  21000.000000

[322896 rows x 3 columns]

**16.** Select from **wdi_sample** the lines associated with the Indicator Codes that you found in question 14., which concern the data of the 'Population total','GDP', and 'GINI index'.

In [28]:
# Set display format for floating-point numbers, showing large numbers with commas and smaller ones with 2 decimal places

pd.set_option('display.float_format', lambda x: f'{x:,.0f}' if abs(x) > 1e6 else f'{x:.2f}')

# Filter 'wdi_sample' to include only rows where 'Indicator Code' is one of the specified codes
# SP.POP.TOTL
# NY.GDP.MKTP.CD
# SI.POV.GINI
wdi_sample = wdi_sample[wdi_sample['Indicator Code'].isin(['SP.POP.TOTL', 'NY.GDP.MKTP.CD', 'SI.POV.GINI'])]

# Convert the '2012' column to numeric, handling non-numeric values if needed (optional: use 'errors=coerce' to handle conversion errors)

wdi_sample.loc[:,'2012'] = pd.to_numeric(wdi_sample['2012'])


wdi_sample

        Indicator Code Country Code           2012
473     NY.GDP.MKTP.CD          AFG 19,907,329,778
497        SI.POV.GINI          AFG            NaN
1080       SP.POP.TOTL          AFG     30,466,479
1961    NY.GDP.MKTP.CD          ALB 12,319,834,195
1985       SI.POV.GINI          ALB          29.00
...                ...          ...            ...
320417     SI.POV.GINI          ZMB            NaN
321000     SP.POP.TOTL          ZMB     14,744,658
321881  NY.GDP.MKTP.CD          ZWE 17,114,849,900
321905     SI.POV.GINI          ZWE            NaN
322488     SP.POP.TOTL          ZWE     13,265,331

[651 rows x 3 columns]

**17.** Create a pivot table, in which the **values** are column '2012', the **index** is 'Country Code', and the **columns** are the Indicator Codes. <br/>

*Hint: Pandas has a very useful method to create pivot tables.*

In [29]:
# Create a pivot table, in which the values are column '2012', the index is 'Country Code', and the columns are the Indicator Codes
wdi_sample = wdi_sample.pivot_table(values='2012', index='Country Code', columns='Indicator Code')
wdi_sample

Indicator Code  NY.GDP.MKTP.CD  SI.POV.GINI  SP.POP.TOTL
Country Code
ABW              2,615,208,380          NaN    102112.00
AFG             19,907,329,778          NaN   30,466,479
AGO            128,052,915,766          NaN   25,188,292
ALB             12,319,834,195        29.00    2,900,401
AND              3,188,652,765          NaN     71013.00
...                        ...          ...          ...
XKX              6,163,484,245        29.00    1,807,106
YEM             35,401,331,610          NaN   26,223,391
ZAF            434,400,545,086          NaN   53,145,033
ZMB             25,503,060,420          NaN   14,744,658
ZWE             17,114,849,900          NaN   13,265,331

[217 rows x 3 columns]

**18.** Rename the column names of **wdi_sample** to 'Population', 'GDP', and 'GINI', accordingly.

In [30]:
# Rename the column names of wdi_sample to 'Population', 'GDP', and 'GINI'
wdi_sample.columns = ['GDP', 'GINI', 'Population']

**19.** From **pwt** select only the values of the year 2012. <br/>
Then, extract the columns 'countrycode' and 'hc' into a new variable **pwt_sample**. <br/>
Rename 'countrycode' to 'Country Code', so that it matches the same column in **wdi_sample**<br/>

*Note: in this case 'hc' stands for the Human Capital Index.<br/>*

In [31]:
# Filter the 'pwt' DataFrame for rows where 'year' is 2012 and select the 'countrycode' and 'hc' columns

pwt_sample = pwt[pwt['year'] == 2012][['countrycode', 'hc']]

# Rename 'countrycode' to 'Country Code', so that it matches the same column in wdi_sample
pwt_sample.rename(columns={'countrycode': 'Country Code'}, inplace=True)

# Print the column names of 'pwt_sample' and the number of rows in it

print(pwt_sample.columns)

# Print the number of rows in pwt sample
print(len(pwt_sample))

Index(['Country Code', 'hc'], dtype='object')
182

In [32]:
pwt_sample

      Country Code   hc
62             ABW  NaN
127            AGO 1.43
192            AIA  NaN
257            ALB 2.92
322            ARE 2.72
...            ...  ...
11567          VNM 2.53
11632          YEM 1.49
11697          ZAF 2.60
11762          ZMB 2.33
11827          ZWE 2.46

[182 rows x 2 columns]

**20.** Finally, create a new dataframe named **data** that contains the columns from **wdi_sample** and **pwt_sample**, matched by 'Country Code'.

*Hint: Use the method concat(), and make sure both dataframes have the same index ('Country Code').*

In [33]:
# Display the index of the 'wdi_sample' DataFrame
wdi_sample.index

Index(['ABW', 'AFG', 'AGO', 'ALB', 'AND', 'ARE', 'ARG', 'ARM', 'ASM', 'ATG',
       ...
       'VGB', 'VIR', 'VNM', 'VUT', 'WSM', 'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'],
      dtype='object', name='Country Code', length=217)

In [34]:
# Make Country Code the index in pwt_sample
pwt_sample.set_index('Country Code', inplace=True) # This will raise an error if run multiple times because the index is already set 
                                                    # But we ran this cell 1 time only so that we could set the index to 'Country Code'

In [35]:
pwt_sample.index # We can see that the index of pwt_sample is now 'Country Code'

Index(['ABW', 'AGO', 'AIA', 'ALB', 'ARE', 'ARG', 'ARM', 'ATG', 'AUS', 'AUT',
       ...
       'USA', 'UZB', 'VCT', 'VEN', 'VGB', 'VNM', 'YEM', 'ZAF', 'ZMB', 'ZWE'],
      dtype='object', name='Country Code', length=182)

In [36]:
# Set the index of 'wdi_sample' to 'Country Code' as well so that we can merge the two DataFrames on the 'Country Code' index
#wdi_sample.set_index('Country Code', inplace=True)

wdi_sample.head()

                         GDP  GINI  Population
Country Code
ABW            2,615,208,380   NaN   102112.00
AFG           19,907,329,778   NaN  30,466,479
AGO          128,052,915,766   NaN  25,188,292
ALB           12,319,834,195 29.00   2,900,401
AND            3,188,652,765   NaN    71013.00

In [37]:
# Concatenate 'wdi_sample' and 'pwt_sample' DataFrames along the columns (axis=1)
# The resulting DataFrame will have the 'Country Code' as the index
data = pd.concat([wdi_sample, pwt_sample], axis=1)
data

                         GDP  GINI  Population   hc
Country Code
ABW            2,615,208,380   NaN   102112.00  NaN
AFG           19,907,329,778   NaN  30,466,479  NaN
AGO          128,052,915,766   NaN  25,188,292 1.43
ALB           12,319,834,195 29.00   2,900,401 2.92
AND            3,188,652,765   NaN    71013.00  NaN
...                      ...   ...         ...  ...
ZMB           25,503,060,420   NaN  14,744,658 2.33
ZWE           17,114,849,900   NaN  13,265,331 2.46
AIA                      NaN   NaN         NaN  NaN
MSR                      NaN   NaN         NaN  NaN
TWN                      NaN   NaN         NaN 3.14

[220 rows x 4 columns]

In [38]:
# There are quite a few NaN in data
data.isna().sum()

GDP             9
GINI          136
Population      3
hc             76
dtype: int64

# <span style="color:brown"> Part 3 - Analysing a Dataset </span>

**21.** Perform the necessary manipulations to answer the following questions, unless otherwise stated you can use the country codes to represent the countries in your solutions:
1. Which countries have a **population size of 10 million habitations +/- 1 million**?
2. What is  the **average** and the **standard deviation in the GDP** for the countries listed in 1?
3. What is  the **average** and the **standard deviation in the GDP per capita** for the countries listed in 1?
4. Consider the following classification of country size: <br/>
    Tiny - population < 1 000 000 <br/>
    Very Small - 1 000 000 <= population < 5 000 000 <br/>
    Small - 5 000 000 <= population < 15 000 000 <br/>
    Medium - 15 000 000 <= population < 30 000 000 <br/>
    Large - 30 000 000 <= population < 100 000 000 <br/>
    Huge - 100 000 000 <= population <br/>
   What is  the **average** and the **standard deviation in the GDP per capita for the countries in each size classification**?   
5. Create a **function** that will take a dataframe and a column name. This function should **return** a series with binary values indicating whether the **values from the column are above the mean value of that column** (indicated with a value of 1 or 0 otherwise). If the value in the column is missing (NaN) the value in the series should also be missing (NaN). Test your function. *Hint:* search how to check if something is None so that we can return None. <br/>
6. What is the **average GDP per capita of the countries after being grouped by size classification and whether the human capital was above or below average**? *Hint: as an example, two of the groups should be (1) tiny and human capital below average, (2) tiny and human capital above average.*
7. What is the **average GDP per capita of the countries after being grouped by whether the human capital was above or below average and whether the gini coefficient was above or below average?**
8. What is the **name of the country** that has the **highest GDP per capita, a Gini coefficient below average and a level of human capital below average**?
9. What is the **name of the country** that has the **highest GDP per capita, a Gini coefficient below average for its size classification, and a level of human capital below average for its size classification**?
10. What is the **name of the country** that has the **largest % increase in GDP between 1980 and 2010?** *HINT: You will need to use the wdi dataframe.*

Write the necessary code to answer each question in a single cell. <br/>
Print the answer at the end of that cell.

In [39]:
data

                         GDP  GINI  Population   hc
Country Code
ABW            2,615,208,380   NaN   102112.00  NaN
AFG           19,907,329,778   NaN  30,466,479  NaN
AGO          128,052,915,766   NaN  25,188,292 1.43
ALB           12,319,834,195 29.00   2,900,401 2.92
AND            3,188,652,765   NaN    71013.00  NaN
...                      ...   ...         ...  ...
ZMB           25,503,060,420   NaN  14,744,658 2.33
ZWE           17,114,849,900   NaN  13,265,331 2.46
AIA                      NaN   NaN         NaN  NaN
MSR                      NaN   NaN         NaN  NaN
TWN                      NaN   NaN         NaN 3.14

[220 rows x 4 columns]

In [40]:
#1 Which countries have a population size of 10 million habitations +/- 1 million?

lower_bound =  9_000_000
upper_bound =  11_000_000

# Filter 'data' DataFrame for rows where 'Population' is between the lower and upper bounds
index_countries_filter = data[(data['Population'] >= lower_bound) & (data['Population'] <= upper_bound )].index


# Print the list of countries that have a population size between 9 million and 11 million
# Convert the index of filtered countries to a list for easier reading
print(f"The countries that have a population size between 9 million and 11 million are: \n  {index_countries_filter.tolist()}")

The countries that have a population size between 9 million and 11 million are:
  ['AZE', 'BDI', 'BEN', 'BLR', 'BOL', 'CZE', 'DOM', 'GIN', 'HTI', 'HUN', 'PRT', 'RWA', 'SSD', 'SWE']

In [41]:
#2 What is the average and the standard deviation in the GDP for the countries listed in 1?

# Calculate the mean and standard deviation of the 'GDP' for countries with a population between 9 and 11 million
# Format the output: large values with comma separators and small values with two decimal places
formatted_gdp_stats = data.loc[index_countries_filter]['GDP'].describe().loc[['mean', 'std']].apply(lambda x: f'{x:,.0f}' if abs(x) > 1e6 else f'{x:.2f}')

print(f"The average and standard deviation in GDP for the countries listed in ex. 1 are (in US dollars): \n {formatted_gdp_stats}")

The average and standard deviation in GDP for the countries listed in ex. 1 are (in US dollars):
 mean     98,851,409,946
std     149,245,794,399
Name: GDP, dtype: object

In [42]:
data.columns

Index(['GDP', 'GINI', 'Population', 'hc'], dtype='object')

In [43]:
#3 What is the average and the standard deviation in the GDP per capita for the countries listed in 1?

# Create column GDP per capita (GDP divided by Population) in the 'data' DataFrame
data['GDP per capita'] = data['GDP'] / data['Population']
# Calculate the mean and standard deviation of 'GDP per capita' for countries with a population between 9 and 11 million
# Format the output: large values with comma separators and small values with two decimal places
formatted_gdp_per_capita_stats = data.loc[index_countries_filter]['GDP per capita'].describe().loc[['mean', 'std']].apply(lambda x: f'{x:,.0f}' if abs(x) > 1e6 else f'{x:.2f}')

print(f"The average and standard deviation in GDP per capita for the countries listed in ex. 1 are (in US dollars): \n {formatted_gdp_per_capita_stats}")

The average and standard deviation in GDP per capita for the countries listed in ex. 1 are (in US dollars):
 mean     9982.44
std     15473.79
Name: GDP per capita, dtype: object

In [44]:
# 4. Consider the following classification of country size:
#     Tiny - population < 1 000 000
#     Very Small - 1 000 000 <= population < 5 000 000
#     Small - 5 000 000 <= population < 15 000 000
#     Medium - 15 000 000 <= population < 30 000 000
#     Large - 30 000 000 <= population < 100 000 000
#     Huge - 100 000 000 <= population

#    What is  the **average** and the **standard deviation in the GDP per capita for the countries in each size classification**?

# Define bins for population size and corresponding labels

bins = [0, 1_000_000, 5_000_000, 15_000_000, 30_000_000, 100_000_000, float('inf')]
# Categorize countries into size classes based on their population 'labels' that are the same length as 'bins' 
labels = ['Tiny', 'Very Small', 'Small', 'Medium', 'Large', 'Huge']

# Add 'Country Size' column based on the population
# Consider upper bound exclusion by setting right=False
data['Country Size'] = pd.cut(data['Population'], bins=bins, labels=labels, right=False)

# Group the data by 'Country Size' and calculate the mean ('GDP_per_Capita') and standard deviation ('Standard_Deviation') of 'GDP per capita'
gdp_stats = data.groupby('Country Size', observed=False)['GDP per capita'].agg(
    GDP_per_Capita='mean',
    Standard_Deviation='std'
).reset_index() # Reset the index for better readability and display the result


# Display the result
display(gdp_stats)

  Country Size  GDP_per_Capita  Standard_Deviation
0         Tiny        28226.32            36308.72
1   Very Small        14177.62            18398.17
2        Small        16201.66            23617.07
3       Medium         8903.48            16313.63
4        Large        13177.43            15611.57
5         Huge        14158.73            18610.26

In [45]:
# Create a function that will take a dataframe and a column name.
# This function should return a series with binary values indicating whether
# the values from the column are above the mean value of that column
# (indicated with a value of 1 or 0 otherwise). If the value in the column is
# missing (NaN) the value in the series should also be missing (NaN).
# Test your function.
# Hint: search how to check if something is None so that we can return None.

import pandas as pd

def above_mean(df, column_name):
    """
    This function takes a dataframe and a column name as input.
    It returns a series with binary values indicating whether the values from the column are above the mean value of that column (indicated with a value of 1 or 0 otherwise).
    If the value in the column is missing (NaN), the value in the series should also be missing (NaN).
    If the input is None, the function returns None.
    """
    try:
        # Check if the inputs are None
        if df is None or column_name is None:
            return None

        # Check if the input is a DataFrame
        if not isinstance(df, pd.DataFrame):
            raise TypeError("The first argument must be a pandas DataFrame.")

        # Check if the column name is a string
        if not isinstance(column_name, str):
            raise TypeError("The column name must be a string.")

        # Check if the column exists in the dataframe
        if column_name not in df.columns:
            raise ValueError(f"Column '{column_name}' does not exist in the DataFrame.")

        # Calculate the mean of the column, ignoring NaN values
        column_mean = df[column_name].mean()

        # Create a series with binary values: 1 if above mean, 0 if not, NaN if value is NaN
        above_mean_series = df[column_name].apply(lambda x: 1 if pd.notna(x) and x > column_mean else pd.NA if pd.isna(x) else 0)

        return above_mean_series

    except Exception as e:
        raise e

In [46]:
# Let's test the function

# Example DataFrame
df_test_data = pd.DataFrame({
    'Country': ['Country A', 'Country B', 'Country C', 'Country D'],
    'GDP': [15000, None, np.nan, pd.NA]  # Include pd.NA value
  })

# Test the function with test data
result_series = above_mean(df_test_data, 'GDP')
print(result_series) # It works as expected , because GDP has None in position 1 and NaN in position 2 and pd.NA in position 3 and the return is the same as expected (NaN)

0       0
1    <NA>
2    <NA>
3    <NA>
Name: GDP, dtype: object

In [47]:
data

,GDP,GINI,Population,hc,GDP per capita,Country Size
Country Code,,,,,,
ABW,"2,615,208,380",NaN,102112.00,NaN,25611.18,Tiny
AFG,"19,907,329,778",NaN,"30,466,479",NaN,653.42,Large
AGO,"128,052,915,766",NaN,"25,188,292",1.43,5083.83,Medium
ALB,"12,319,834,195",29.00,"2,900,401",2.92,4247.63,Very Small
AND,"3,188,652,765",NaN,71013.00,NaN,44902.38,Tiny
...,...,...,...,...,...,...
ZMB,"25,503,060,420",NaN,"14,744,658",2.33,1729.65,Small
ZWE,"17,114,849,900",NaN,"13,265,331",2.46,1290.19,Small
AIA,NaN,NaN,NaN,NaN,NaN,NaN
MSR,NaN,NaN,NaN,NaN,NaN,NaN
TWN,NaN,NaN,NaN,3.14,NaN,NaN

In [48]:
# 6
# What is the average GDP per capita of the countries after being grouped
# by size classification and whether the human capital was above or below
# average? Hint: as an example, two of the groups should be (1) tiny and
# human capital below average, (2) tiny and human capital above average.

# Add a new column 'Human Capital Class' to 'data', where values indicate if 'hc' (human capital) is above the mean (1 for above, 0 for below)
data['Human Capital Class'] = above_mean(data, 'hc')


print("The average GDP per capita of the countries after being grouped by size classification and whether the human capital was above or below average is as follows:")
# Group the data by 'Country Size' and 'Human Capital Class', and calculate the mean of 'GDP per capita' for each group
data.groupby(['Country Size', 'Human Capital Class'], observed=False)['GDP per capita'].mean()

The average GDP per capita of the countries after being grouped by size classification and whether the human capital was above or below average is as follows:

Country Size  Human Capital Class
Tiny          0                      7447.42
              1                     41099.35
Very Small    0                      9522.34
              1                     19135.54
Small         0                      3093.05
              1                     33815.35
Medium        0                      1347.64
              1                     19389.67
Large         0                      3678.65
              1                     24249.27
Huge          0                      2707.37
              1                     27900.36
Name: GDP per capita, dtype: float64

In [49]:
#7 What is the average GDP per capita of the countries after being
# grouped by whether the human capital was above or below average
# and whether the gini coefficient was above or below average?

# Add a new column 'Gini Class' to 'data', indicating whether 'GINI' values are above the mean (1 for above, 0 for below)
data['Gini Class'] = above_mean(data, 'GINI')

print("The average GDP per capita of the countries after being grouped by whether the human capital is above or below average and whether the Gini coefficient is above or below average is as follows:")
# Group the data by both 'Human Capital Class' and 'Gini Class', and calculate the mean 'GDP per capita' for each group
# observed=False ensures that all possible combinations of 'Human Capital Class' and 'Gini Class' are displayed in the output, 
# with missing combinations resulting in NaN values
data.groupby(['Human Capital Class', 'Gini Class'], observed=False)['GDP per capita'].mean()

The average GDP per capita of the countries after being grouped by whether the human capital is above or below average and whether the Gini coefficient is above or below average is as follows:

Human Capital Class  Gini Class
0                    0             6410.52
                     1             3785.25
1                    0            32470.89
                     1            13020.95
Name: GDP per capita, dtype: float64

In [50]:
#8 What is the name of the country that has the highest GDP per capita,
#  a Gini coefficient below average and a level of human capital below average?


# Find the country where both 'Gini Class' and 'Human Capital Class' are below average (i.e., equal to 0) 
# From these countries, find the index of the country with the highest 'GDP per capita'
# Print the result showing the index of the country that meets the conditions
# .idxmax() is used because we want to identify which country (by index) has the highest GDP per capita, rather than just 
# knowing what the highest GDP per capita value is
print(f"The country with highest GDP per capita, GINI below average, and hc below average is : {data[(data['Gini Class'] == 0) & (data['Human Capital Class'] == 0)]['GDP per capita'].idxmax()}")

The country with highest GDP per capita, GINI below average, and hc below average is : PRT

In [51]:
data

,GDP,GINI,Population,hc,GDP per capita,Country Size,Human Capital Class,Gini Class
Country Code,,,,,,,,
ABW,"2,615,208,380",NaN,102112.00,NaN,25611.18,Tiny,<NA>,<NA>
AFG,"19,907,329,778",NaN,"30,466,479",NaN,653.42,Large,<NA>,<NA>
AGO,"128,052,915,766",NaN,"25,188,292",1.43,5083.83,Medium,0,<NA>
ALB,"12,319,834,195",29.00,"2,900,401",2.92,4247.63,Very Small,1,0
AND,"3,188,652,765",NaN,71013.00,NaN,44902.38,Tiny,<NA>,<NA>
...,...,...,...,...,...,...,...,...
ZMB,"25,503,060,420",NaN,"14,744,658",2.33,1729.65,Small,0,NaN
ZWE,"17,114,849,900",NaN,"13,265,331",2.46,1290.19,Small,0,NaN
AIA,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
MSR,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
TWN,NaN,NaN,NaN,3.14,NaN,NaN,1,NaN

In [52]:
#9

print("The countries, grouped by their population size classification that have the highest gdp per capita with hc lower than hc mean and gini lower than gini mean are: ")

# Calculate the mean values of 'hc' and 'GINI' to compare against
hc_mean = data['hc'].mean()
gini_mean = data['GINI'].mean()

# For each size classification (Tiny, Large, Medium, etc.), filter the data for countries where both 'hc' and 'GINI' are below the mean and the 
# 'Country Size' matches the current size in the loop (e.g., 'Tiny', 'Large', etc.)

for size in ['Tiny', 'Large', 'Medium', 'Very Small', 'Small','Huge']:
    # Filter the data to include only countries where:
    # 1. 'hc' (human capital) is below the mean ('hc_mean')
    # 2. 'GINI' (income inequality) is below the mean ('gini_mean')
    # 3. 'Country Size' matches the current 'size' being iterated over
    filtered_data = data[
    (data["hc"] < hc_mean) & (data["GINI"] < gini_mean) & (data["Country Size"] == size)
    ]

    # Sort the filtered data in descending order by 'GDP per capita'
    # This will rank countries by GDP per capita, with the highest GDP per capita at the top
    sorted_data = filtered_data.sort_values(by="GDP per capita", ascending=False)

    # Get the index of the top country (highest GDP per capita)
    top_country = sorted_data.index

    # If there are any countries in the filtered and sorted data, print the first one (the highest GDP per capita country)
    # Otherwise, move to the next iteration (continue)
    if len(top_country) > 0:
        print(f"{size}: {top_country[0]}")
    else:
        continue 

# We only got values for 'Large', 'Small', and 'Huge' because:
# 1. The filtering condition requires both 'hc' (human capital) and 'GINI' to be below their respective means.
# 2. It's possible that no countries in the 'Tiny', 'Medium', and 'Very Small' size classifications meet this condition.
# 3. If no countries in these size classifications have 'hc' and 'GINI' values below the mean, the filtered data for these sizes would be empty.
# 4. As a result, when the loop reaches those size classifications, the condition "if len(top_country) > 0" fails, and nothing is printed for those sizes.

The countries, grouped by their population size classification that have the highest gdp per capita with hc lower than hc mean and gini lower than gini mean are:
Large: IRN
Small: PRT
Huge: NGA

In [53]:
#10 

# 1 Select GDP data for each country from 1980 to 2010:
#    - Filter the 'wdi' DataFrame for rows where "Indicator Code" matches 'i_GDP' which is equal to 'NY.GDP.MKTP.CD'
#    - Select the 'Indicator Code', 'Country Code', and the "+"" condition selects columns corresponding to each year from 1980 to 2010.
#    - Reset the index for better readability

wdi_10 = wdi.loc[wdi["Indicator Code"] == 'NY.GDP.MKTP.CD' , ["Indicator Code","Country Code"] + [str(year) for year in range(1980, 2011)]].reset_index()

# 2 Create a list of the year columns (1980 to 2010) for easier access to GDP data.
gdp_years = [str(year) for year in range(1980, 2011)]

# Calculate the median GDP for each country across the selected years (1980 to 2010)
# Then , apply the median function across columns (axis=1) for each row (country) to deal with missing values
wdi_10["GDP Median"] = wdi_10[gdp_years].median(axis=1)

# 3 Fill NaN values in the GDP columns with the median for each country
# - We use .T to transpose, apply .fillna with the "GDP Median", then transpose back.
# In our DataFrame, each row represents a country, and each column (from 1980 to 2010) represents a year. When we apply .fillna(), pandas 
# operates column-wise, meaning it will fill NaN values year by year across all countries.
# Since .fillna() by default operates column-wise, you need to temporarily switch the rows and columns so that .fillna() works within 
# each country (across years). After filling the NaNs, we transpose the DataFrame back to its original shape, where rows represent countries and 
# columns represent years

wdi_10[gdp_years] = wdi_10[gdp_years].T.fillna(wdi_10["GDP Median"]).T

# Step 4: Optionally, drop the temporary "GDP Median" column as it is no longer needed
#wdi_10.drop(columns=["GDP Median"], inplace=True)

# 6 Drop the unnecessary "index" column if it exists.
wdi_10.drop(columns="index",inplace=True)

# Calculate the % increase in the GDP between 2010 and 1980 and add a column to wdi_10 dataset

wdi_10["GDP Growth between 1980 and 2010"] = ((wdi_10["2010"] - wdi_10["1980"]) / wdi_10["1980"])*100


# 8 Find the index of the country with the maximum GDP growth between 1980 and 2010.
max_gdp_growth_index = wdi_10["GDP Growth between 1980 and 2010"].idxmax(axis=0)

# 9 Retrieve the 'Country Code' and GDP growth value for the country with the highest GDP growth.
max_gdp_growth_country  = wdi_10.loc[max_gdp_growth_index,"Country Code"]
max_gdp_growth_value = wdi_10.loc[max_gdp_growth_index,"GDP Growth between 1980 and 2010"]

# 10. Print the country code and GDP growth percentage for the country that grew the most.
print(f"The country that grew the most between 1980 and 2010 was: {max_gdp_growth_country} , growing astonishing {max_gdp_growth_value} %.")

The country that grew the most between 1980 and 2010 was: GNQ , growing astonishing 32114.68286761945 %.